header {
  background-color: #1a151f;
  z-index: 1;
  box-shadow: 0px 1px 2px #18131d;
  position: sticky;
  top: 0;
  height: 64px;
  padding: 0 120px;
}
li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu';
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
}

li:hover {
  font-weight: bold;
}
