header {
  background-color: #1a151f;
  z-index: 1;
  box-shadow: 0px 1px 2px #18131d;
  position: sticky;
  top: 0;
  height: 64px;
}
li {
  margin-left: 16px;
  margin-right: 16px;
  line-height: 32px;
}
